.logo {
    background-color: #f2f1f1;
    font-family: "Bell Gothic Std";
    text-align: left;
    padding: 20px;
    font-style: italic; 
  }

  .candleCard {
    display: grid;
    float: left;
    font-family: "Bell Gothic Std";
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #b2c0a550;
    /* height: 390px; */
    margin: 1rem;
    border-radius: 15px 50px 30px 5px;
  }

  .candleCard img {
    width: 100%;
  }

  .candleCard h1 {
    height: 40px;
  }

  .candleCard button {
    margin-top: 0.5rem;
  }

  .candleForm {
    background-color: #f2f1f1;
    height: 240px;
    font-family: "Bell Gothic Std";
    padding: 20px;
    width: 150px;
  }

  .candleForm select {
    margin-right: 10px;
    height: 25px;
    font-family: "Bell Gothic Std";
    margin-top: 10px;
  }

  .candleForm button {
    font-family: "Bell Gothic Std";
    border-style: default;
    border-color: #838383;
    margin-top: 10px;
  }

  .candleForm input {
    margin-right: 10px;
    height: 19px;
  }

  .displayCandle {
    position: relative; left: 350px; bottom: 320px;

  }

  #candleFlicker {
    height: 110px;
    position: relative; top:88px; left:357px;
    opacity: 60%;
    z-index: 1;
  }

  #candleCreatorImage {
    width: 600px;
    position: absolute;
    
  }

  #candleCreatorLabel {
    display:block; width:200px; height:100px;
    text-align: center;
    position: relative; top:150px; left:310px;
    opacity: 40%;
    border-radius: 20px;
    box-shadow: 5px;
  }



  @media (min-width: 1024px) {
    .candleCard {
      width: calc(25% - 2rem);
    }
  }
  
  @media (min-width: 1200px) {
    .candleCard {
      width: calc(15% - 3rem);
    }
  }

  .top-banner-text, .hidden {
    font-family: "Magda", "sans-serif";
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #595959;
    color: #ffffff;
  
    
  }

  .banner {
    height: 300px;
    padding-left: 3%;
    background-color: #ffffff;;

  }
  .banner-image {
    height: 100%;
    width: calc(17% - 1rem);
    
  }

  .create {
    padding: 20px;

  }
  
  .top-banner::before {
    content: "Reminiscent NYC, now open.";
    animation: animate infinite 7s;
    padding-left: 10px;
}

@keyframes animate {

    0% {
        content: "Holiday season is here!";
    }

    50% {
        content: "Gifts that everyone will love.";
    }

    75% {
        content: "Can't find your favorite scent? Create a custom candle now.";
    }
}

.username{
  font-family: "Bell Gothic Std";
  padding-left: 20px;
  font-style: italic;
}

.candleHeading{
  font-family: "Bell Gothic Std";
  padding-top: 15px;
  text-align: center;
}