.logo {
    background-color: #f2f1f1;
    font-family: "Bell Gothic Std";
    text-align: left;
    padding: 20px;
    font-style: italic; 
  }

  .candleCard {
    font-family: "Bell Gothic Std";
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f2f1f1;
    margin: 1rem;
  }

  .candleCard img {
    width: 100%;
  }
  .candleCard button {
    margin-top: 0.5rem;
  }
  
  @media (min-width: 1200px) {
    .candleCard {
      width: calc(15% - 3rem);
    }
  }

  .top-banner-text, .banner-index-0, .hidden {
    font-family: "Magda", "sans-serif";
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #656565;
    color: #ffffff;
  }
